

/* FONTS */

body {
    font-family: 'Ubuntu', sans-serif;
}
pre, tt, code, kbd, samp, var {
    font-family: 'Ubuntu Mono', monospace;
}




/* COLOURS */

body {
    background: ${{color}};
}
.container {
    background: #fff;
}




/* LAYOUT */

.container {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-radius: 0 0 4px 4px;
}




/* HOMEPAGE */

#logo {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




/* AFRAME-ONLY DEMO */

#aframe-only-demo a-scene {
    height: 400px!important;
    margin-top: 1em;
    border-radius: 4px;
}
#aframe-only-demo a-scene .a-canvas {
    background: ${{color}};
    border-radius: 4px;
}




/* VUE-ONLY DEMO */

#vue-only-demo .oom-component {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    background: rgba(0,64,128,0.1);
}
#vue-only-demo >.oom-component {
    font-size: 1.5em;
    line-height: 1.15;
}
#vue-only-demo table {
    width: 100%;
    margin-bottom: 0.5em;
}
#vue-only-demo td {
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    border: 1px solid rgba(0,64,128,0.3);
    background: rgba(255,255,255,0.3);
}
#vue-only-demo td:first-child {
    width: 0;
}
#vue-only-demo table caption {
    font-size: 0.7em;
    padding: 0 0 0.2em 0;
    caption-side: top;
}




/* UTILITY */

.hid {
    display: none;
}
.nopad {
   padding: 0 !important;
   margin: 0 !important;
}
.rr {
    text-align: right;
}
