/*// OomFoo //// 1.0.6 //// January 2018 //// http://oom-foo.loop.coop/ //////*/

/* FONTS */

body {
    font-family: 'Ubuntu', sans-serif;
}
pre, tt, code, kbd, samp, var {
    font-family: 'Ubuntu Mono', monospace;
}


/* COLOURS */

body {
    background: #9900ff;
}
.container {
    background: #fff;
}




/* HOMEPAGE */

#logo {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}



